<header>
  <div id="logoName">
    <p id="logo">
      <i class="fa-solid fa-street-view"></i>
    </p>
    <p id="name">
      TotallyNotYelp
    </p>
  </div>

  <nav id="buttons">

  <!-- if user logged in -->
  <% if(user) { %>
    <form action="/maps/new" method="GET">
        <button type="submit" class="eachButton" id="createMaps">Create Maps</button>
    </form>
    <form action="/user/<%= user.id %>" method="GET">
        <button type="submit" class="eachButton" id="profile">My Profile</button>
    </form>
    <form action="/logout" method="POST">
      <button type="submit" class="eachButton" id="logout">Logout</button>
    </form>
    <% } else { %>

  <!-- if user does not have an account (still can view map)-->
    <form action="/login" method="GET">
      <button type="submit" class="eachButton" id="login">Login</button>
    </form>
    <form action="/register" method="GET">
      <button type="submit" class="eachButton" id="register">Register</button>
    </form>
    <% } %>


  </nav>
</header>
