<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mapId.css" type="text/css" />

  <!-- JS script -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/map.js" defer></script>

  <!-- external script: font awesome-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- map leaflet -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
  integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
  crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
  integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
  crossorigin=""></script>

</head>

<body>
  <%- include('partials/_header') %>

  <article>

    <div id="pinContainer">
      <ul id="pinCollection">
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #1</div>
        <div class="pin">Pin Name #2</div>
        <div class="pin">Pin Name #3</div>
        <div class="pin">Pin Name #4</div>
        <div class="pin">
          <div class="pinName">
            Pin Name #4
          </div>
          <div class="pinAddress">
            some address here
          </div>
          <div class="pinDescription">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias tenetur, accusamus magnam cumque labore itaque quos voluptatem fuga officiis cum minima ea laborum fugiat! Distinctio impedit provident itaque aspernatur ullam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias a similique perspiciatis maiores incidunt, molestiae eum culpa repellat laudantium minima, debitis vero animi porro quam accusamus provident ipsam facere odit!
          </div>
        </div>
      </ul>
    </div>

    <div id="map"></div>


  </article>

  <footer>

  </footer>



</body>

</html>


