$color1: #F16664;
$color2: #FFF6E6;
$color3: #0C7F98;
$color4: #26195c;
$color5: rgb(243, 235, 229);

.user-header {
  background-color: $color4;
}

.user-header p {
  color: $color2;
}

.user-section ul, .user-section div > div{
  height: 40vh;
  overflow-y: scroll;
}
